/* src/styles/fonts.css */
@font-face {
    font-family: 'Roboto Thin';
    src: url('../public/roboto.thin.ttf') format('truetype'); /* Relative path */
    font-weight: 100; /* Adjust as needed */
    font-style: normal;
  }
  